[Unit]
Description=A CockroachDB container - http://localhost:8080
After=network-online.target

[Container]
Image=docker.io/cockroachdb/cockroach:latest@sha256:bc15746ef2c2493b2cfd46a76898a745587d068b1a259fff3c4447c3f3b36ea2
AutoUpdate=registry
ContainerName=cockroachdb
Exec=start-single-node --http-addr=0.0.0.0:8080 --insecure
Network=eternal.network
PublishPort=26257:26257
PublishPort=8080:8080
Volume=cockroachdb.volume:/cockroach/cockroach-data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
