[Unit]
Description=A CockroachDB container - http://localhost:8080
After=network-online.target

[Container]
Image=docker.io/cockroachdb/cockroach:latest@sha256:c0838fd4db940b7dedb590211ee3cd229b75d3b49ce466760454a282b98641ae
AutoUpdate=registry
ContainerName=cockroachdb
Exec=start-single-node --http-addr=0.0.0.0:8080 --insecure
Network=eternal.network
PublishPort=26257:26257
PublishPort=8080:8080
Volume=cockroachdb.volume:/cockroach/cockroach-data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
