[Unit]
Description=A CyberChef container - http://localhost:8080
After=network-online.target

[Container]
Image=ghcr.io/gchq/cyberchef:latest
AutoUpdate=registry
ContainerName=cyberchef
PublishPort=8080:80
Network=eternal.network

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
