[Unit]
Description=A DynamoDB local container
After=network-online.target

[Container]
Image=docker.io/amazon/dynamodb-local:latest@sha256:ff89bd48ff32cd8d9be5fee8873b65b8854dc408f1afe881be6eb00247bc0dab
AutoUpdate=registry
ContainerName=dynamodb-local
Exec=-jar DynamoDBLocal.jar -sharedDb -dbPath ./data
Network=eternal.network
PublishPort=8000:8000
WorkingDir=/home/dynamodblocal
Volume=dynamodb.volume:/home/dynamodblocal/data

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
