[Unit]
Description=An Excalidraw container - http://localhost:5000
After=network-online.target

[Container]
Image=docker.io/excalidraw/excalidraw:latest@sha256:f7ee194addd607bf831d2af0f0a34463dd4225e426cf35199ef0b12a803398e9
AutoUpdate=registry
ContainerName=excalidraw
PublishPort=5000:80
Network=eternal.network

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
