[Unit]
Description=An InvokeAI container - http://localhost:9090
After=network-online.target

[Container]
Image=ghcr.io/invoke-ai/invokeai:latest@sha256:d4ceeb0811135d879b6aec5e1ea0ae700be10d04e355dd53e4eaf9b17a13b580
AutoUpdate=registry
ContainerName=invoke-ai
Environment=INVOKEAI_ROOT=/var/lib/invokeai
PublishPort=9090:9090
Volume=invoke-ai.volume:/var/lib/invokeai
Network=eternal.network
AddDevice=nvidia.com/gpu=all
SecurityLabelDisable=true

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
