[Unit]
Description=A JupyterLab Notebook container - http://localhost:8888
After=network-online.target

[Container]
Image=quay.io/jupyter/base-notebook:latest@sha256:4ef9cfd552d265799bd9e959a87fb674da8cea738145ce49e7d286cb967ad1d7
AutoUpdate=registry
ContainerName=jupyter-notebook
Exec=start-notebook.py --NotebookApp.token=''
Network=eternal.network
PublishPort=8888:8888
Volume=jupyter-notebook.volume:/home/jovyan/work:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
