[Unit]
Description=A JupyterLab Notebook container - http://localhost:8888
After=network-online.target

[Container]
Image=quay.io/jupyter/base-notebook:latest@sha256:6d0358f11292d59dbf621ea5f3a68b7432f6873a03ed92513799939ab372a5f7
AutoUpdate=registry
ContainerName=jupyter-notebook
Exec=start-notebook.py --NotebookApp.token=''
Network=eternal.network
PublishPort=8888:8888
Volume=jupyter-notebook.volume:/home/jovyan/work:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
