[Unit]
Description=A Keycloak container for identity and access management - http://localhost:8080
After=network-online.target

[Container]
Image=quay.io/keycloak/keycloak:latest
AutoUpdate=registry
ContainerName=keycloak
Exec=start-dev
Environment=KEYCLOAK_ADMIN=admin
Environment=KEYCLOAK_ADMIN_PASSWORD=password
Network=eternal.network
PublishPort=8080:8080

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
