[Unit]
Description=A minio server contaienr for local S3 compatible storage - http://localhost:9000
After=local-fs.target network-online.target
Requires=prometheus.service

[Container]
Image=docker.io/minio/minio:latest
AutoUpdate=registry
ContainerName=minio
Exec=server --console-address ":9001"
Environment=MINIO_ROOT_USER=admin
Environment=MINIO_ROOT_PASSWORD=password
Environment=MINIO_VOLUMES=/data
Environment=MINIO_PROMETHEUS_URL='http://prometheus:9090'
Environment=MINIO_PROMETHEUS_AUTH_TYPE='public'
Environment=MINIO_PROMETHEUS_JOB_ID='minio-job'
Network=eternal.network
PublishPort=9000:9000
PublishPort=9001:9001
Volume=minio.volume:/data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
