[Unit]
Description=A Neo4j container
After=network-online.target

[Container]
Image=docker.io/library/neo4j:latest@sha256:7f2c38fa0de8caf875d35237fa7dabda74de4f4fc2fc7c3c9e4b53c2add268ad
AutoUpdate=registry
ContainerName=neo4j
Environment=NEO4J_AUTH=none
PublishPort=7474:7474
PublishPort=7687:7687
Network=eternal.network
Volume=neo4j.volume:/data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
