[Unit]
Description=A Neo4j container
After=network-online.target

[Container]
Image=docker.io/library/neo4j:latest@sha256:91fb0bf237c41b7b3dcbe84703aa0b82e0d7d067b16e1c8ab21f03fc679edf4e
AutoUpdate=registry
ContainerName=neo4j
Environment=NEO4J_AUTH=none
PublishPort=7474:7474
PublishPort=7687:7687
Network=eternal.network
Volume=neo4j.volume:/data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
