[Unit]
Description=A Neo4j container
After=network-online.target

[Container]
Image=docker.io/library/neo4j:latest@sha256:6f3f17e72d69bb6f26b03f6186f5afb15a201f8b460bb69b0cd8030717f9f01a
AutoUpdate=registry
ContainerName=neo4j
Environment=NEO4J_AUTH=none
PublishPort=7474:7474
PublishPort=7687:7687
Network=eternal.network
Volume=neo4j.volume:/data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
