[Unit]
Description=An ollama container
After=network-online.target

[Container]
Image=docker.io/ollama/ollama:latest@sha256:da6e0dc5651df159e45686fd663c4dbe1624a52c44d7280eeac1551d8f865532
AutoUpdate=registry
ContainerName=ollama
Network=eternal.network
Volume=ollama.volume:/root/.ollama
PublishPort=11434:11434
AddDevice=nvidia.com/gpu=all
SecurityLabelDisable=true

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
