[Unit]
Description=A Postgres container
After=network-online.target

[Container]
Image=docker.io/library/postgres:18
AutoUpdate=registry
ContainerName=postgres
Environment=POSTGRES_USER=admin
Environment=POSTGRES_PASSWORD=password
Network=eternal.network
PublishPort=5432:5432
Volume=postgres.volume:/var/lib/postgresql/data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
