[Unit]
Description=A Qdrant container
After=network-online.target

[Container]
Image=docker.io/qdrant/qdrant:latest@sha256:b7b0444c4c351c970b98e90a6f89c2ee4287c65b44e52b4cb503fa5b2aa927ad
AutoUpdate=registry
ContainerName=qdrant
Network=eternal.network
PublishPort=6333:6333
PublishPort=6334:6334
Volume=qdrant.volume:/qdrant/storage:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
