[Unit]
Description=A RedPanda console container - http://localhost:8080
After=local-fs.target network-online.target redpanda-server.service
Requires=redpanda-server.service

[Container]
Image=docker.redpanda.com/redpandadata/console:latest
AutoUpdate=registry
ContainerName=redpanda-console
Environment=CONFIG_FILEPATH=/etc/redpanda-console/config.yml
Network=eternal.network
PublishPort=8080:8080
Volume=./_config/redpanda-console.yml:/etc/redpanda-console/config.yml:ro

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
