[Unit]
Description=A RustFS server container for local S3 compatible storage - http://localhost:9000
After=local-fs.target network-online.target
Requires=prometheus.service

[Container]
Image=docker.io/rustfs/rustfs:latest
AutoUpdate=registry
ContainerName=rustfs
Environment=RUSTFS_VOLUMES=/data
Environment=RUSTFS_ADDRESS=0.0.0.0:9000
Environment=RUSTFS_CONSOLE_ADDRESS=0.0.0.0:9001
Environment=RUSTFS_CONSOLE_ENABLE=true
Environment=RUSTFS_EXTERNAL_ADDRESS=:9000
Environment=RUSTFS_ACCESS_KEY=admin
Environment=RUSTFS_SECRET_KEY=password
Environment=RUSTFS_OBS_LOGGER_LEVEL=info
Network=eternal.network
PublishPort=9000:9000
PublishPort=9001:9001
Volume=rustfs.volume:/data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
