[Unit]
Description=A ScyllaDB container
After=network-online.target

[Container]
Image=docker.io/scylladb/scylla:latest@sha256:27d6871286b28c2e47f5db8d4400735a7cba8a699426bb308566327bd8946fa1
AutoUpdate=registry
ContainerName=scylladb
Exec=--developer-mode 1 --smp 1 --overprovisioned 1
Network=eternal.network
PublishPort=9042:9042
PublishPort=9160:9160
PublishPort=10000:10000

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
