[Unit]
Description=A SurrealDB container
After=network-online.target

[Container]
Image=docker.io/surrealdb/surrealdb:latest@sha256:51baed8709f57f67dcf04b30e3177db846803fa9342dae2be58c6fa5f8d59843
AutoUpdate=registry
ContainerName=surrealdb
Exec=start file://var/lib/surrealdb/data/database.db
Network=eternal.network
PublishPort=8000:8000
Volume=surrealdb.volume:/var/lib/surrealdb/data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
