[Unit]
Description=A SurrealDB container
After=network-online.target

[Container]
Image=docker.io/surrealdb/surrealdb:latest@sha256:681c6c22c287421b5c7d99e0fde79b6e0d32c36c1ddeaab2762a1661cb04cd20
AutoUpdate=registry
ContainerName=surrealdb
Exec=start file://var/lib/surrealdb/data/database.db
Network=eternal.network
PublishPort=8000:8000
Volume=surrealdb.volume:/var/lib/surrealdb/data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
