[Unit]
Description=A Valkey container
After=network-online.target

[Container]
Image=docker.io/valkey/valkey:latest@sha256:418652cfb58ef879d4978c33553735d7147016032d5aefaa14c828e611eb9dfd
AutoUpdate=registry
ContainerName=valkey
Network=eternal.network
PublishPort=6379:6379
Volume=valkey.volume:/data:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
