[Unit]
Description=A Web-Check container (https://github.com/Lissy93/web-check) - http://localhost:3000
After=network-online.target

[Container]
Image=ghcr.io/lissy93/web-check:latest@sha256:6fb2b5a58e4fa77afb724a7e6e041f876c081e2f9340b7ba6520ac4d4fc2290a
AutoUpdate=registry
ContainerName=web-check
PublishPort=3000:3000
Network=eternal.network

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
