[Unit]
Description=Install brew bundle
ConditionPathIsSymbolicLink=/home/linuxbrew/.linuxbrew/bin/brew
After=local-fs.target
After=network-online.target

[Service]
ExecStart=/home/linuxbrew/.linuxbrew/bin/brew bundle install --global --file /etc/eternal/brew/Brewfile

[Install]
WantedBy=multi-user.target
