[Unit]
Description=Ensure system-wide Homebrew packages are installed from /etc/eternal/brew/Brewfile
ConditionPathExists=/home/linuxbrew/.linuxbrew/bin/brew
After=local-fs.target network-online.target

[Service]
ExecStart=/home/linuxbrew/.linuxbrew/bin/brew bundle install --file /etc/eternal/brew/Brewfile

[Install]
WantedBy=default.target
