[Unit]
Description=A Caddy proxy container to access Quadlets
After=local-fs.target network-online.target

[Container]
Image=docker.io/library/caddy:latest
AutoUpdate=registry
ContainerName=caddy-proxy
Environment=HTTP_PORT=10080
Environment=HTTPS_PORT=10443
Network=eternal.network
# Common ports
PublishPort=10080:10080
PublishPort=10443:10443
Volume=./_config/Caddyfile:/etc/caddy/Caddyfile:ro

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
