[Unit]
Description=A JanAI container
After=network-online.target

[Container]
Image=ghcr.io/janhq/jan-server:cuda-12.2-latest
AutoUpdate=registry
ContainerName=jan-ai
PublishPort=3000:3000
Network=eternal.network
AddDevice=nvidia.com/gpu=all
SecurityLabelDisable=true

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
