[Unit]
Description=An Ollama WebUI container
After=network-online.target ollama.service
Requires=ollama.service

[Container]
Image=ghcr.io/open-webui/open-webui:latest
AutoUpdate=registry
ContainerName=ollama-web
Environment=OLLAMA_BASE_URL=http://ollama:11434
Environment=WEBUI_SECRET_KEY=abc123
Environment=WEBUI_AUTH=false
Network=eternal.network
PublishPort=8080:8080

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
