[Unit]
Description=A Prometheus container for collecting metrics
After=local-fs.target network-online.target

[Container]
Image=docker.io/prom/prometheus:latest
AutoUpdate=registry
ContainerName=prometheus
Network=eternal.network
Volume=./_config/prometheus.yml:/etc/prometheus/prometheus.yml:ro

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
