[Unit]
Description=Upgrade Homebrew packages
After=local-fs.target network-online.target brew-update.service
Wants=network-online.target brew-update.service
ConditionPathExists=/etc/.linuxbrew

[Service]
Type=oneshot
User=linuxbrew
WorkingDirectory=/var/home/linuxbrew
EnvironmentFile=/etc/brew/environment
ExecStart=/var/home/linuxbrew/.linuxbrew/bin/brew upgrade
