[Unit]
Description=Update Homebrew package lists
After=local-fs.target network-online.target
Wants=network-online.target
ConditionPathExists=/etc/.linuxbrew

[Service]
Type=oneshot
User=linuxbrew
WorkingDirectory=/var/home/linuxbrew
EnvironmentFile=/etc/brew/environment
ExecStart=/var/home/linuxbrew/.linuxbrew/bin/brew update
