[Unit]
Description=Auto update brew for mutable brew installs
After=local-fs.target
After=network-online.target
ConditionPathExists=/etc/.linuxbrew

[Service]
# Override the user if different UID/User
User=linuxbrew
Type=oneshot
WorkingDirectory=/var/home/linuxbrew
Environment=HOMEBREW_CELLAR=/var/home/linuxbrew/.linuxbrew/Cellar
Environment=HOMEBREW_PREFIX=/var/home/linuxbrew/.linuxbrew
Environment=HOMEBREW_REPOSITORY=/var/home/linuxbrew/.linuxbrew/Homebrew
ExecStart=/usr/bin/bash -c "/var/home/linuxbrew/.linuxbrew/bin/brew update"
