[Unit]
Description=A Localstack container for local development of AWS services
After=network-online.target

[Container]
Image=docker.io/localstack/localstack:latest
AutoUpdate=registry
ContainerName=localstack
Network=eternal.network
PublishPort=4566:4566
PublishPort=4510-4559:4510-4559
Volume=localstack.volume:/var/lib/localstack:Z

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
