[Unit]
Description=A RedPanda (Kafka) single node cluster
After=network-online.target

[Container]
Image=docker.redpanda.com/redpandadata/redpanda:latest
ContainerName=redpanda-server
Exec=redpanda start --overprovisioned --smp 1 --kafka-addr internal://redpanda-server:9092 --advertise-kafka-addr internal://redpanda-server:9092
Network=eternal.network
PublishPort=8081:8081
PublishPort=8082:8082
PublishPort=9092:9092
PublishPort=9644:9644
Volume=redpanda.volume:/var/lib/redpanda/data

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
