[Unit]
Description=A RedPanda console container
After=network-online.target redpanda.service
Requires=redpanda.service

[Container]
Image=docker.redpanda.com/redpandadata/console:latest
ContainerName=redpanda-console
Environment=CONFIG_FILEPATH=/tmp/redpanda-console.yml
Network=eternal.network
PublishPort=8080:8080
Volume=./_config/redpanda-console.yml:/tmp/redpanda-console.yml:ro

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
