name: Build ISOs

on:
  pull_request:
    paths:
      - ".github/workflows/*build-iso.yml"
      - "**/iso/**"
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - ".github/workflows/*build-iso.yml"
  #     - "**/iso/**"
  workflow_dispatch:
    inputs:
      upload-to-cloudflare:
        description: "Upload to Cloudflare"
        required: false
        default: false
        type: boolean
      image-name:
        description: "The image name to build (e.g. lumina or lumina-<desktop>)"
        required: true
        default: lumina
        type: choice
        options:
          - lumina
          - lumina-cosmic
      image-tag:
        description: "The tag to build"
        required: true
        default: stable
        type: choice
        options:
          - 43
          - 43-nvidia
      arch:
        description: "The architecture to build"
        required: true
        default: amd64
        type: choice
        options:
          - amd64

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-iso
  cancel-in-progress: true

jobs:
  build-single:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    uses: rsturla/eternal-main/.github/workflows/_build-iso.yml@main
    secrets: inherit
    with:
      image-name: ${{ inputs.image-name }}
      image-registry: ghcr.io/rsturla/eternal-linux
      image-tag: ${{ inputs.image-tag }}
      rootfs-setup-hook-template: ./lumina/iso/configure.sh.tmpl
      flatpak-manifest-lists: |
        lumina/iso/flatpaks/base
        lumina/iso/flatpaks/${{ inputs.image-name }}
      upload-to-cloudflare: ${{ inputs.upload-to-cloudflare && true || false }}
      arch: ${{ inputs.arch }}
      r2-bucket: ${{ vars.R2_BUCKET_NAME }}

  build-all:
    if: ${{ github.event_name != 'workflow_dispatch' }}
    uses: rsturla/eternal-main/.github/workflows/_build-iso.yml@main
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        image-name:
          - lumina
          - lumina-cosmic
        image-tag:
          - 43
          - 43-nvidia
        arch:
          - amd64
    with:
      image-name: ${{ matrix.image-name }}
      image-registry: ghcr.io/rsturla/eternal-linux
      image-tag: ${{ matrix.image-tag }}
      rootfs-setup-hook-template: ./lumina/iso/configure.sh.tmpl
      flatpak-manifest-lists: |
        lumina/iso/flatpaks/base
        lumina/iso/flatpaks/${{ matrix.image-name }}
      upload-to-cloudflare: ${{ inputs.upload-to-cloudflare && true || false }}
      arch: ${{ matrix.arch }}
      r2-bucket: ${{ vars.R2_BUCKET_NAME }}
