name: Renovate CI

on:
  pull_request:
    paths:
      - ".github/renovate.json5"
      - ".github/workflows/renovate.yml"
  push:
    branches:
      - main
    paths:
      - ".github/renovate.json5"
      - ".github/workflows/renovate.yml"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Validate Renovate Configuration
        uses: rsturla/eternal-main/.github/actions/validate-renovate-config@main
